.tab {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9990;
  @include vertical_center();
  width: 100%;
  height: 90 / $unit * $symbol;
  .tab-item {
    @include center();
    width: 50%;
    height: 100%;
    font-size: 30 / $unit * $symbol;
    color: #fff;
    background-color: rgb(245, 10, 10);
  }
}