.detail {
  width: 100vw;
  height: 100vh;
  &-header {
    @include center();
    width: 100%;
    height: 120 / $unit * $symbol;
    font-size: 27 / $unit * $symbol;
    color: #df8f4b;
    background-color: #282c34;
  }
  &-main {
    width: 100%;
    height: 300 / $unit * $symbol;
    .main-list {
      width: 100%;
      height: 100%;
      .list-item {
        @include vertical_center();
        width: 100%;
        height: 100 / $unit * $symbol;
        font-size: 36 / $unit * $symbol;
        color: #666;
      }
    }
  }
}